:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.hidden {
  display: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
label {
  display: inline-block;
}

#controls {
  position: fixed;
  inset: 0;
  bottom: auto;
  padding: 2rem;
  background-color: #3338;
}

#hide-btn {
  position: absolute;
  top: 0;
  left: 0;
}

#drop-zone {
  background: black;
  position: fixed;
  inset: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
  transition: visibility 0s .3s, opacity .3s 0s;
}

#drop-zone.shown {
  visibility: visible;
  opacity: 0.6;
  transition: opacity .3s 0s;
}


#stage {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
#start-msg {
  color: black;
 }

#outer-img {
  position: relative;
  display: block;
  max-width: 100vw;
  max-height: 100vh;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  /* transform-origin: center; */
}

#inner-img {
  user-select: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  max-width: 100vw;
  max-height: 100vh;
  pointer-events: none;
  scale: 0.1;
  /* transform-origin: center; */
  opacity: 1;

  z-index: 2;
}

#inner2-img {
  user-select: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  max-width: 100vw;
  max-height: 100vh;
  pointer-events: none;
  scale: 0.01;
  opacity: 1;
  z-index: 3;
}